.card-settings{
    min-height:250px;
    width: 100%;
    background-image: linear-gradient(rgba(240, 208, 170, 0.6),rgba(247, 211, 171, 0.6)),url("/images/nv45.jpg") !important;
}
.editbtn{
    border: 1px solid;
}