body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.signUp{
    width:600px;
    min-height:380px;
    

}
input{
    min-width:300px !important
}
.btn-custom{
    background-color: rgb(24, 59, 99) !important;
    color:white;
    width: 80%;
}