body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.signUp{
    width:600px;
    min-height:380px;
    background-image: linear-gradient(rgba(240, 208, 170, 0.6),rgba(247, 211, 171, 0.6)),url("/images/nv45.jpg") !important;
}
    


input{
    min-width:300px !important
}
.btn-custom{
    /* background-color: rgb(24, 59, 99) !important; */
    color:white;
    width: 80%;
}
.t-name{
    text-transform: capitalize;
  }

@media screen and (max-width:640px){

    .ip-cls{
       
        margin-left:5px !important;
        margin-right:25px !important;
    }

    .card{
        width:auto;
        height:auto; 
    
    }

    .btn-custom{

        margin-bottom: 10px;

    }



}