.img-cls{

    width: 450px !important;
    height:450px !important;

}
.fa{
    /* color: rgba(243, 188, 132) !important; */
    font-size: 15px !important;
}
.border-cls{
    font-weight: bold;
}
.custom-btn{
    background-color: rgb(223,194,154) !important;
}
@media screen and (max-width:640px){

    .img-cls{

        width: 100% !important;
        height:100% !important;
    
    }

}
