body{
    color: rgb(24, 59, 99) !important;
}

.ordercard{
    min-height:150px !important;
    width:80%;
    color: rgb(24, 59, 99) !important;
    border: 25px !important;
}
.itemLink{

    text-decoration: underline;
    color: rgb(24, 59, 99) !important;
 
}
p{
    margin-left: 5px;
}
.imgTumbnail{
    width:200px;
    height: 100%;
}
