.login-card{
    width:600px;
    height:200px;
    background-image: linear-gradient(rgba(240, 208, 170, 0.6),rgba(247, 211, 171, 0.6)),url("/images/nv45.jpg") !important;


}
input{
    min-width:300px !important
}
.btn-custom, .btn-signUp{
    /* background-color: rgb(24, 59, 99) !important; */
    color:rgb(24, 59, 99) !important;
    border: 1px solid;
    

}
@media screen and (max-width:640px){

    .login-card{
        width:auto;
        height:auto;
        
    
    }
}
