.eventCard{
    width: 80%;
    min-height: 150px !important;
    color:white;
    /* background-color: rgba(179, 153, 81, 0.797) !important;  */
    padding:5% ;
    margin:auto;
    border: 1px solid rgb(254, 216, 112) !important;
    box-shadow: 5px 5px rgb(250, 242, 221);
}
.eventClass, .homeClass{
    /* color:rgb(24, 59, 99); */
    color: rgba(12, 10, 10, 0.877) ;
    /* color:white; */
    text-align: center;
    /* text-align: center; */
}
.btn{
    background-color:rgb(24, 59, 99);
    /* color:rgb(24, 59, 99)!important; */
    color: rgba(12, 10, 10, 0.877) ;
    
}
.adClass{
    /* background-color:rgb(223, 140, 58) !important; */
    min-height: 700px;
    text-align: center;
    /* background-color: rgba(179, 153, 81, 0.797) !important;  */
    /* border-left: solid rgb(250, 242, 221)!important; */
    
}
.homeClass{
    min-height: 550px;
}

#imge{
    width:240px !important;
    height:200px !important;

}
.img-card{
    height:210px;
    max-width:250px !important;
    /* border: 1px solid rgb(24, 59, 99) !important; */
    padding:0 !important;
    border: 5px solid rgba(222, 191, 130, 0.29)!important;
    box-shadow: 0 4px 8px 0;
    /* border: 5px solid rgb(243, 188, 132)!important; */
}

.eventBtn{
    margin:15px 0px !important;
    border: 1px solid;
}

/* .card{
    background-color: rgb(223, 140, 58) !important; 
    /* background-color: rgb(207, 81, 79) !important; */
    /* background-image: linear-gradient(rgba(216, 155, 84, 0.6),rgba(216, 155, 84, 0.6)),url("/images/nv5.jpg"); */
    /* border: 1px solid rgb(241, 227, 186) !important; */
    
/* } */ */
.addImg{
    background-color:transparent !important; 
    height: 100px;
    width: 200px;
    
    
}
/* .main-card{
    /* background-color: white; */
    /* box-shadow: 0 4px 8px 0 rgba(240, 226, 226, 0.2), 0 6px 20px 0 rgba(240, 226, 226, 0.2); */
    /* text-align: center; */
/* } */ 

@media screen and (max-width:640px){
    .img-card{
        margin-left: 5px !important;
        width:100px !important;
        height:100px !important;
    }
    #imge{
        width:100px !important;
        height:100px !important;
    
    }
    .addImg{
       
        width: 225px !important; 
        
        
    }
    .adClass{
        width: 250px !important;
    }
    
}
