.eventCard{
    width: 80%;
    min-height: 150px !important;
    color:rgb(24, 59, 99);
    background-color:rgb(211, 144, 102);
    padding:5% ;
    margin:auto;
    border: 1px solid rgb(254, 216, 112) !important;
    box-shadow: 5px 5px rgb(250, 242, 221);
}
.eventClass, .homeClass{
    color:rgb(24, 59, 99);
    text-align: center;
    /* text-align: center; */
}
.btn{
    background-color:rgb(24, 59, 99);
    color: white;
}
.adClass{
    /* background-color:rgb(243, 220, 160); ; */
    min-height: 700px;
    text-align: center;
    background-color:rgb(211, 144, 102);
    border-left: solid rgb(250, 242, 221)!important;
    
}
.homeClass{
    min-height: 550px;
}

#imge{
    width:300px !important;
    height:250px !important;

}
.img-card{
    height:250px;
    max-width:300px !important;
    border: 1px solid rgb(24, 59, 99) !important;
    padding:0 !important;
    border: 5px solid rgb(250, 242, 221)!important;
}

.eventBtn{
    margin:15px 0px !important
}

body{
    font: 18px/22px dinpro-regularregular,Arial,Helvetica,sans-serif;
    background-color: cadetblue;
}
.card{
    background-color:rgb(211, 144, 102);
    border: 1px solid rgb(254, 216, 112) !important;
    
}
.addImg{
    background-color:transparent !important; 
    height: 100px;
    width: 200px;
    
    
}
@media screen and (max-width:640px){
    .img-card{
        margin-left: 5px !important;
    }
    
}
