 .btn-seller{
    background-color:rgb(24, 59, 99);
    color: white;
 }
 body{
    color: rgb(24, 59, 99);
    overflow:scroll !important;
 }
 .sellerForm{
   overflow:scroll !important;
   
   
 }
 .sellercard{
    min-height: 500px;
    
 }
 .order-card{
   min-height:120px !important;
   width:100%;
   color: rgb(24, 59, 99) !important;
   border: 25px !important;

 }
 .t-name{
   text-transform: capitalize;
 }