/* .bd-footer{
    background-color:  rgb(254, 216, 112)!important;
    color: rgb(24, 59, 99);
    /* position: static; */
    /* bottom: 0;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    background-image: url("/images/handipage2.jpg") !important;
    
    
} */ */

.footer-container{
    max-height: 150px !important;
    font-weight: bold !important;
}

.bd-footer {
    
    background-image: linear-gradient(rgba(216, 155, 84, 0.6),rgba(216, 155, 84, 0.6)),url("/images/nv45.jpg") !important;
    /* background-image: linear-gradient(rgba(216, 155, 84, 0.6),rgba(216, 155, 84, 0.6)),url("/images/bg-21.jpg"); */
    z-index: 9999;
    background: cover;
    color: rgb(24, 59, 99);
    /* background-color:rgb(243, 183, 69); */
    background-color: white;
    /* position: static; */
    bottom: 0;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    

}

.bd-footer:before{
    background-image: url("/images/bg1.jpeg") !important;
    content: "";
    position: absolute;
    bottom: 0px;
    left:0px;
    top:0px;
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
    z-index: -1;
}

.footer-content{
    font-size: 19px;
    font-weight: bold;
}

.card-text{
    font-size: 18px !important;
    font-weight: unset !important;
    
}

.footer-card{
    /* background-color:rgba(12, 10, 10, 0.877) !important; */
    border: none !important;
    background-color: transparent !important;
    color: rgba(12, 10, 10, 0.877) ;
}
  
  