.seachcard{
    max-height:150px !important;
    width:100%;
    color: rgb(24, 59, 99) !important;
    border: 25px !important;

}
.itemLink{
    color:rgb(24, 59, 99) !important;
    text-decoration: underline !important;
}
.imgTumbnail{
    width:200px;
    height: 100% !important;
}