.order-card{
    min-height:120px !important;
    width:100%;
    color: rgb(24, 59, 99) !important;
    border: 25px !important;
    background-image: linear-gradient(rgba(240, 208, 170, 0.6),rgba(247, 211, 171, 0.6)),url("/images/nv45.jpg") !important;
}
.imgTumb{
    width:200px;
    height: 100% !important;
}