body{
    color: rgb(24, 59, 99) !important;
}

.ordercard{
    min-height:150px !important;
    width:80%;
    color: rgb(24, 59, 99) !important;
    border: 25px !important;
    background-image: linear-gradient(rgba(240, 208, 170, 0.6),rgba(247, 211, 171, 0.6)),url("/images/nv45.jpg") !important;
}
.itemLink{

    text-decoration: underline;
    color: rgb(24, 59, 99) !important;
 
}
p{
    margin-left: 5px;
}
.imgTumbnail{
    width:250px;
    max-height: 100% !important;
    
}
.review-btn{
    border: 1px solid;
}

@media screen and (max-width:640px){

    .imgTumbnail{
        width:100% !important;
        height: 200px !important;
        margin:10px;
    }

    .ordercard{
        width:100% !important;
        margin: 15px;
    }

}
